body {
  font-family: 'Cuprum', sans-serif;
  background-color: white;
  margin: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.content {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

/**/
.header {
  height: 320px;
  background-color: #f4f7f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.top_header_bg {
  background-color: #293449;
  height: 42px;
  width: 100%;
}

.header_menu {
  margin-top: 0px;
}
.header_menu:hover{
  background-color: #161d29;
  }
.header_menu:active{
  color: rgba(255, 255, 255, 0.6);
}
.buy{
  background-color: #518534;
}

.top_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  margin-top: 0px;
}

.search_window {
  background-color: inherit;
  border: 0px;
  margin-top: 0px;
}

.top_header .header_menu {
  text-decoration: none;
  color: white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo_top {
  width: 220px;
  height: 47px;
  margin: 0px;
}

.img_logo_top {
  width: 110px;
  height: 20px;
}

.header_menu.buy {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #63a63e;
  width: 150px;
  height: 45px;
}

.top_header {
  color: white;
}

/*navigation*/
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;



}

.nav {
  list-style: none;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

.nav_menu {
  text-decoration: none;
  color: white;
  padding-top: 22px;
  padding-bottom: 26px;
  padding-left: 36px;
  padding-right: 36px;
      background-color: #32425c;
    box-shadow: inset 0px -5px 0 0 #293449;
}
.nav_menu:hover{
  background-color:#1d2739;
}
.nav_menu:active{
  color: rgba(255, 255, 255, 0.5);
}

.header_mid {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-text {
  margin-right: 71px;
  width: 195px;
  height: 60px;
  color: #ee3643;
  font-style: italic;
}
.btn_lr{
display: flex;
align-self: baseline;
}
.btn_login{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
padding-top: 14px;
padding-bottom: 11px;
  background-color: white;
  color:black;
  text-decoration:none;
  font-size: 21px;
}
.btn_login_1{
  margin-right: 10px;
  margin-left: 69px;
}
.btn_login:hover{
  color: #ee3643;
}
.btn_login:active{
  color:rgba(0, 0, 0, 0.3);
}
.header_an {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header_nuber {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  width: 270px;
  height: 45px;
  border: solid white 3px;
  color: #ee3643;
}

.number_n {
  text-decoration: none;
  font-size: 21px;
  color: #ee3643;
    }
  .img_nm{
  padding-left: 15px;
  padding-right: 40px;
  }

.header_address {
  font-family: 'Cuprum';
  font-style: normal;
  font-size: 14px;
}

.bot_info {
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  height: 380px;
  margin-bottom: 85px;
}

.h3_style {
  font-size: 30px;
  font-family: 'Cuprum', sans-serif;
}
}

.bot_left_inf {
  display: flex;
  flex-direction: column;
  width: 520px;
  height: 380px;
}

.delivery {
  font-weight: bold;
  font-size: 18px;
  list-style: xz;
}

.btn {
  font-size: 14px;
  text-decoration: none;
  color: white;
  background-color: #ee3643;
  height: 40px;
}

.btn_left_inf {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  background-color: #ee3643;
}

.btn_right_inf {
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  background-color: #32425c;


}

.img_logo_bot {
  width: 140px;
  height: 25px;
}

.logo_bot {
  width: 220px;
  height: 70px;
  }

.footer_top_left {
  display: flex;
  flex-direction: column;
}

.footer_top_right {
  display: flex;
  flex-direction: column;
}

.footer_nav_1 {
  width: 450px;
    display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 18px;
  color: white;
}

.footer_nav_link {
  text-decoration: none;
  color: white;
}

.footer_nav_link_2 {
  color: #ffd180;
}

.footer_top_address {
  display: flex;

  flex-direction: column;
}

.address_bot {
  font-size: 18px;
  font-style: normal;
  color: #f3f7f9;
}

.number_bot {
  font-size: 18px;
  color: #f3f7f9;
  text-decoration: none;
}

.footer_bot {
  display: flex;
  background-color: #293449;
    justify-content: space-between;
  align-items: center;
}

.company_inf {
  width: 230px;
    color: white;
  font-size: 16px;
}

.social_networks {
  display: flex;
  justify-content: space-between;
  width: 130px;
  list-style: none;
}

.socal_ic {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212a3a;
  width: 42px;
  height: 42px;
  border-radius: 100px;
  border: 0px;
}

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feed_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 16px;
  color: white;
  margin: 0px;
  margin-top: 40px;
}

.feed_mail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 16px;
  color: #ffd180;
  margin-top: 0px;
  text-decoration: none;
}
.footer_top_bg{
  width: 100%;
height: 190px;
background-color: #32425c;
}
.footer_bot_bg{
  width: 100%;
height: 107px;
background-color:#293449;
}
