body {
  font-family: 'Cuprum', sans-serif;
  background-color: white;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.content {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: #f4f7f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.top_header_bg {
  display: flex;
  background-color: #293449;
  height: 42px;
  width: 100%;
}

.header_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  height: 43px;
  width: 150px;
}

.header_menu:hover {
  background-color: #161d29;
}

.header_menu:active {
  color: rgba(255, 255, 255, 0.6);
}

.buy {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: #63a63e;
  width: 150px;
  height: 43px;
}

.buy:hover {
  background-color: #5fbb2d;
}

.buy:active {
  background-color: #518534;
}

.top_header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 17px;
  margin-top: 0px;
}

.search {
  position: relative;
}

.search_img {
  width: 17px;
  height: 17px;
  fill: white;
  position: absolute;
  left: 17px;
  top: 12px;
}

.search_input {
  background-color: inherit;
  height: 42px;
  width: 270px;
  padding-left: 47px;
  border: none;
  font-family: 'Cuprum';
  font-size: 17px;
  color: black;
  line-height: 1.06;
}

.search_input:focus {
  background-color: white;
}

.search_input:hover {
  background-color: white;
}

.search_input:focus~.search_img {
  fill: red;
}

.search_input:hover~.search_img {
  fill: red;
}

.search_input::placeholder {
  font-family: 'Cuprum';
  font-size: 17px;
  color: white;
}

.search_input:focus::placeholder {
  color: black;
}

.search_input:hover::placeholder {
  color: black;
}

.header_menu_img {
  fill: rgba(255, 255, 255, 0.1);
}

.header_menu_text {
  color: white;
  text-decoration: none;
  margin-left: 13px;
}

.header_menu {
  display: flex;
  justify-content: flex-start;
  padding-left: 17px;
  text-decoration: none;
  color: white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ee3643;
}

.logo_top {
  width: 220px;
  height: 52px;
  margin: 0px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.img_logo_top {
  width: 109px;
  height: 19px;
}

.header_menu.buy {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #63a63e;
  width: 150px;
  height: 45px;
}

.top_header {
  color: white;
}

/*navigation*/
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0px;
  border: 0px;
  margin: 0px;
  margin-top: -10px;
  margin-bottom: 60px;
  background-color: #32425c;
  width: 940px;
  height: 60px;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.nav_menu {
  text-decoration: none;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
  font-family: 'Cuprum';
  font-size: 17px;
}

.nav_menu:hover {
  background-color: #1d2739;
}

.nav_menu:active {
  color: rgba(255, 255, 255, 0.5);
}

.header_mid {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 47px;
  margin-bottom: 49px;
}

.header-text {
  margin-right: 71px;
  width: 197px;
  height: 60px;
  color: #ee3643;
  font-family: 'Cuprum';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.44;
}

.btn_lr {
  display: flex;
  align-self: baseline;
}

.btn_login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: 21px;
}

.btn_login_1 {
  margin-right: 10px;
  margin-left: 69px;
}

.btn_login_img {
  margin: 14px;
  fill: #c5c5c5;
}

.btn_login_text {
  margin-right: 27px;
}

.btn_login_1:hover .btn_login_img {
  fill: #32425C;
}

.btn_login_1:active .btn_login_img {
  fill: #c5c5c5;
}

.btn_login_text_2 {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 14px;
  margin-bottom: 11px;
}

.btn_login:hover {
  color: #ee3643;
}

.btn_login:active {
  color: rgba(0, 0, 0, 0.3);
}

.header_an {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header_nuber {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 270px;
  height: 45px;
  border: solid white 3px;
  color: #ee3643;
}

.number_n {
  text-decoration: none;
  font-size: 21px;
  color: #ee3643;
}

.img_nm {
  padding-left: 15px;
  padding-right: 40px;
}

.header_address {
  font-family: 'Cuprum';
  font-style: normal;
  font-size: 14px;
  color: #32425c;
  margin-top: 10px;
}

.bot_info {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 450px;
  margin-bottom: 85px;
  padding-top: 75px;
}

.text_bot_1 {
  display: block;
  margin-top: 27px;
  line-height: 1.85;
  font-family: 'PT Sans';
  font-size: 13px;
}

.text_bot_2 {
  font-family: 'PT Sans';
  font-size: 13px;
  line-height: 1.85;
  margin-top: 23px;
}

.h3_style {
  font-size: 30px;
  font-family: 'Cuprum', sans-serif;
  margin: 0px;
  line-height: 1;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

.cards_block_top {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.card {
  display: flex;
  position: relative;
  background-color: #ffbf47;
  width: 300px;
  height: 123px;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.card_teg {
  display: flex;
  flex-direction: column;
  margin-left: 23px;
}

.button_cards {
  display: flex;
  width: 135px;
  height: 38px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  font-family: 'Cuprum';
  font-size: 14px;
  border-radius: 3px;
  margin-top: -14px;
  margin-left: 2px;
}

.card_block_bot {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.new_1 {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.new {
  display: block;
}

.slider {
  position: relative;
}

.cards_h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  color: white;
  margin-top: 0;
}

.card_img {
  margin-left: auto;
}

.card_img_1 {
  margin-right: 43px;
  margin-top: 3px;
}

.card_img_2 {
  margin-right: 28px;
  margin-top: 3px;
}

.card_img_3 {
  margin-right: 31px;
  margin-top: 3px;
}

.card_img_4 {
  margin-right: 45px;
  margin-top: 3px;
}

.card_img_5 {
  margin-right: 31px;
  margin-top: 3px;
}

.banner_1 {
  display: flex;
  display: none;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 620px;
  height: 266px;
  background-color: grey;
  background-image: url(../img/picture/slider-image.jpg);
}

.slide {
  position: relative;
}

.banner_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 620px;
  height: 266px;
  background-color: grey;
  background-image: url(../img/picture/slide-image.jpg);
}

.banner_h2 {
  position: absolute;
  top: 25px;
  left: 25px;
  color: white;
  font-family: 'Cuprum';
  font-size: 36px;
  font-weight: bold;
  margin: 0px;
}

.banner_text_2 {
  position: absolute;
  top: 64px;
  left: 25px;
  color: white;
  font-family: 'Cuprum';
  font-size: 18px;
  font-weight: normal;
}

.banner_but {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 206px;
  left: 25px;
  width: 195px;
  height: 38px;
}

.slider_right {
  position: absolute;
  top: 114px;
  right: 20px;
}

.slider_left {
  position: absolute;
  top: 114px;
  left: 25px;
}

.slider_nav_but_left {
  width: 10px;
  height: 10px;
  background-color: #fff;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  left: 47.6%;
  top: 82.7%;
}

.slider_nav_but_left:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider_nav_but_right {
  width: 10px;
  height: 10px;
  background-color: #fff;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  left: 51.1%;
  top: 82.7%;
}

.slider_nav_but_right:after {
  display: none;
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cards {
  margin-bottom: 53px;
}

.popular {
  margin-bottom: 21px;
}

.cards_bot_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_but_text {
  font-weight: bold;
}
}

.bot_left_inf {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  height: 380px;
  padding: 0px;
}

.tool_card {
  background-color: #3bbce3;
}

.equipment {
  background-color: #dc91d8;
}

.sale_card {
  background-color: #8ed78f;
}

.delivery_card {
  background-color: #ffc047;
  margin-top: 20px;
}

.delivery {
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 2.2;
  margin-top: 15px;
  list-style: none;
}

.delivery_li {
  position: relative;
}

.delivery_li:before {
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: red;
  left: -35px;
  top: 17px;
}

.button_cards:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.button_cards:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.popular_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 89px;
  margin-top: 0px;
  background-color: #f9f5f0;
  padding-left: 30px;
  padding-right: 24px;
}

.popular_h2 {
  margin: 0px;
  font-family: 'Cuprum';
  font-size: 30px;
  color: #32425c;
  font-weight: normal;
}

.popular_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 253px;
  height: 38px;
}

.popular_cards {
  display: flex;
  justify-content: flex-start;
  margin-top: 21px;
}

.bosch_card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  min-height: 318px;
  border: solid 1px #eaeaea;
  font-family: 'PT Sans';
  margin-right: 20px;
  z-index: 1px;
}

.bosch_card:last-child {
  margin-right: 0px;
}

.bosch_card:hover .bosch_card_img {
  display: none;
}

.bosch_card:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.bosch_card_link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  font-family: 'Cuprum';
  display: none;
}

.bosch_card_btn_buy {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 38px;
  width: 135px;
  background-color: #63a63e;
  color: white;
  text-decoration: none;
  box-shadow: inset 0px -3px 0 0 #367315;
  margin-top: 44px;
  border-radius: 3px;
}

.bosch_card_btn_mark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 135px;
  background-color: white;
  border: solid 3px #63a63e;
  color: #32425c;
  text-decoration: none;
  margin-top: 7px;
  margin-bottom: 47px;
  border-radius: 3px;
}

.bosch_card:hover .bosch_card_link {
  display: block;
}

.bosch_card_link_img {
  margin-right: 22px;
  margin-left: 14px;
}

.bosch_card_btn_buy:hover {
  background-color: #5fbb2d;
}

.bosch_card_btn_buy:hover .bosch_card_link_img {
  fill: white;
}

.bosch_card_btn_mark:hover {
  border-color: #32425c;
}

.bosch_card_btn_buy:active {
  background-color: #518534;
}

.bosch_card_btn_mark:active {
  border-color: #32425c;
  opacity: 0.3;
}

.bosch_card_name_text {
  text-decoration: none;
  font-family: 'PT Sans';
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  color: black;
  margin: 0px;
  text-align: center;
  margin-top: -8px;
}

.bosch_card_prise {
  color: #a9a9a9;
  text-decoration: line-through;
  font-family: 'PT Sans';
  font-size: 17px;
  font-weight: bold;
}

.bosch_card_sale {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 141px;
  height: 38px;
  font-family: 'PT Sans';
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-image: url(../img/icon/item-button.svg);
  margin-bottom: 21px;
}

.bosch_card_sale_2000 {
  margin-top: 30px;
}

.bosch_card_name a {
  text-decoration: none;
}

.all_brend {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.brend {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  border: solid 1px #eaeaea;
  margin-top: 20px;
  margin-right: 20px;
}

.brend:nth-child(4n) {
  margin-right: 0px;
}

.brend:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brend:active {
  opacity: 0.3;
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.service {
  display: flex;
  flex-direction: column;
  min-height: 522px;
  width: 100%;
  background-color: #f4f7f9;
  justify-content: flex-start;
  margin-top: 85px;
}

.slider_block {
  display: flex;
  justify-content: flex-start;
  position: relative;
  align-items: center;
  margin-top: 74px;
}

.slider_nav {
  padding: 0px;
  margin: 0px;
  margin-bottom: 91px;
  margin-top: 10px;
}

.slider_nav_1 {
  display: flex;
  justify-content: flex-start;
  padding-left: 11px;
  align-items: center;
  width: 240px;
  min-height: 60px;
  background-color: #32425c;
  border-bottom: inset 1px #405069;
}

.slider-nav_shadow {
  position: absolute;
  top: -50px;
  left: 230px;
  z-index: 2;
}

.slider_nav_1:hover {
  background-color: white;
  color: #32425c;
}

.slider_nav_1:active {
  background-color: white;
  color: #32425c;
}

.service_text_h2 {
  display: block;
  font-family: 'Cuprum';
  font-size: 30px;
  margin: 0px;
}

.service_text_p {
  display: block;
  width: 398px;
  height: 37px;
  font-family: 'PT Sans';
  font-size: 13px;
  margin-top: 25px;
  line-height: 1.85;
}

.service_text {
  margin-top: 60px;
}

.service_slider_text {
  display: block;
  width: 275px;
  margin-top: 20px;
}

.service_slider {
  margin-left: 80px;
  margin-top: -20px;
}

.service_slider_h2 {
  font-family: 'Cuprum';
  font-size: 36px;
  color: #32425c;
  margin: 0px;
}

.service_slider_text {
  font-family: 'PT Sans';
  font-size: 13px;
  line-height: 1.85;
}

.slider_nav_1 a {
  text-decoration: none;
  font-family: 'Cuprum';
  font-size: 21px;
  font-weight: bold;
  color: white;
}

.service_slider_hidden {
  display: none;
}

.service_slider_hidden {
  display: none;
}

.service_slider_text {
  display: flex;
  flex-direction: column;
  height: 183px;
  width: 275px;
}

.service_slider_img {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.btn {
  font-size: 14px;
  text-decoration: none;
  color: white;
  background-color: #ee3643;
  height: 40px;
  border-radius: 3px;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.btn_left_inf {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  background-color: #ee3643;
  margin-top: 27px;
}

.btn_right_inf {
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.footer_top {
  background-color: #32425c;
}

.text_bot_3 {
  font-family: 'PT Sans';
  font-size: 13px;
  line-height: 1.85;
  margin-top: 27px;
}

.map {
  margin-top: 30px;
}

.img_logo_bot {
  width: 140px;
  height: 25px;
}

.logo_bot {
  width: 220px;
  height: 68px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.footer_top_bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_top_top {
  display: flex;
  justify-content: space-between;
}

.footer_nav_1 {
  width: 590px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 18px;
  color: white;
  margin-top: 41px;
  margin-bottom: -1px;
}

.footer_nav_link {
  text-decoration: none;
  color: white;
}

.footer_nav_link:hover {
  text-decoration: underline;
}

.footer_nav_link:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer_nav_link_2:active {
  color: rgba(255, 209, 128, 0.5);
}

.socal_ic:hover {
  background-color: #ee3643;
}

.socal_ic:active {
  background-color: #ee3643;
}

.footer_nav_2 {
  width: 565px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 18px;
  color: white;
  margin-top: 28px;
}

.footer_nav_link_2 {
  color: #ffd180;
}

.footer_top_address {
  display: flex;
  flex-direction: column;
}

.address_bot {
  font-size: 18px;
  font-style: normal;
  color: #f3f7f9;
  margin-top: 30px;
}

.number_bot {
  font-size: 18px;
  color: #f3f7f9;
  text-decoration: none;
}

.footer_bot {
  display: flex;
  background-color: #293449;
  justify-content: flex-start;
  align-items: center;
}

.company_inf {
  width: 230px;
  color: white;
  font-size: 16px;
  margin-right: 115px;
}

.feed_mail:hover {
  text-decoration: underline;
}

.feed_mail:active {
  color: #ee3643;
  text-decoration: none;
}

.social_networks {
  display: flex;
  justify-content: space-between;
  width: 130px;
  list-style: none;
  margin-left: 5px;
  margin-top: 25px;
  margin-right: 160px;
}

.socal_ic {
  margin-right: 3px;
}

.socal_ic {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212a3a;
  width: 42px;
  height: 42px;
  border-radius: 100px;
  border: 0px;
}

.feedback {
  display: flex;
  flex-direction: column;
  margin-right: 53px;
}

.feedback_2 {
  display: flex;
  flex-direction: column;
}

.feed_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 16px;
  color: white;
  margin: 0px;
  margin-top: 10px;
}

.feed_mail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 16px;
  color: #ffd180;
  margin-top: 0px;
  text-decoration: none;
}

.footer_top_bg {
  width: 100%;
  min-height: 190px;
  background-color: #32425c;
}

.footer_bot_bg {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 107px;
  background-color: #293449;
}

.feedback_window {
  display: block;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 620px;
  height: auto;
  font-family: 'Cuprum';
  font-size: 18px;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  border-top: 7px solid #ee3643;
}

.feedback_content {
  width: 460px;
  margin-left: auto;
  margin-right: auto;
}

.feedback_form {
  display: flex;
  flex-direction: column;
}

.feedback_ne {
  display: flex;
  margin-top: 55px;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 13px;
}

.input_feedback {
  width: 220px;
  height: 38px;
}

.feedback_mail_text_area {
  width: 100%;
  min-height: 114px;
}

.feedback_mail_text {
  margin-top: 22px;
}

.feedback_submit_area {
  display: flex;
  width: 100%;
  height: 112px;
  background-color: #f4f4f4;
  justify-content: center;
  align-items: center;
  margin-top: 37px;
}

.feedback_submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ee3643;
  font-family: 'Cuprum';
  font-size: 14px;
  box-shadow: none;
}

.feedback_btn_close {
  position: absolute;
  top: 9px;
  right: 6px;
  border: none;
  background-color: none;
}
